streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
folium==0.17.0
streamlit-folium==0.20.0
plotly==5.22.0
scikit-learn==1.5.1
xgboost==2.1.1
tensorflow==2.16.1
keras==3.4.1
joblib==1.4.2

